.classes{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#classes{
    border-collapse: collapse;
    width: 90%;
}

.schedule-container{
    display: flex
}

#classes td, #classes th {
    border: 1px solid #ddd;
    text-align: center;
}

#classes tr:nth-child(even){
    background-color: #1a1a1a;
}

#classes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8a73cf;
    text-align: center;
  }